<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.css"/>
    <title>Header</title>
</head>
<body>
    <header>
        <div class="ecom-header">
            <div class="icon-container">
                <a class="img-link" href="../../index.html"><span>
                        <img class="icon" src="../../images/jpeg/headicon.png" alt="" /></a>
                </span>
            </div>

            <div class="ecom-nav"> 
                <a href="../../index.html" class="nav-link">Home</a>
                <a href="../../product-listing/productlist.html" class="nav-link">Men</a>
                <a href="../../product-listing/productlist.html" class="nav-link">Women</a>
                <a href="../../product-listing/productlist.html" class="nav-link">Beauty</a>
             </div>


            <div class="search-bar">
                <input class="search" placeholder="Search for brands" type="text" name="search"/>
                <img class="search-icon" src="../../images/jpeg/search.png" alt="search"/>
            </div>
                  
            <div class="socials-ecom">
                <span><a href="../authentication/login/login.html"><img src='../../images/jpeg/user.png'
                            class="social-icons" /></a></span>
                <span><a href="../wishlist/wishlist.html"><img src='../../images/jpeg/heart.png'
                            class="social-icons" /></a></span>
                <span><a href="../cart/cart.html">
                        <img src='../../images/jpeg/shopping-bag.png' class="social-icons" /></span>
                </a>
            </div> 
        </div> 
    </header> 
</body>
</html>