<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://amazing-spirit.netlify.app/root.css">
    <link rel="stylesheet" href="./cart.css"/>
    <title>Cart</title>
</head>
<body>

    <div class="cart-container">

        <header>
            <div class="ecom-header">
                <div class="icon-container">
                    <a class="img-link" href="../../index.html"><span>
                            <img class="icon" src="../../images/jpeg/headicon.png" alt="" /></a>
                    </span>
                </div>

                <div class="ecom-nav"> 
                    <a href="../../index.html" class="nav-link">Home</a>
                    <a href="../product-listing/productlist.html" class="nav-link">Men</a>
                    <a href="../product-listing/productlist.html" class="nav-link">Women</a>
                    <a href="../product-listing/productlist.html" class="nav-link">Beauty</a>
                 </div>


                <div class="search-bar">
                    <input class="search" placeholder="Search for brands" type="text" name="search" />
                    <img class="search-icon cart-search" src="../../images/jpeg/search.png" alt="search" />
                </div>

                <div class="socials-ecom">
                    <span><a href="../authentication/login/login.html"><img src='../../images/jpeg/user.png' class="social-icons" /></a></span>
                    <span><a href="../wishlist/wishlist.html"><img src='../../images/jpeg/heart.png' class="social-icons" /></a></span>
                    <span><a href="./cart.html">
                            <img src='../../images/jpeg/shopping-bag.png' class="social-icons" /></span>
                    </a>
                </div>
            </div>
        </header>


        <div>

            <h2 class="my-cart">My cart(3)</h2>

            <div class="cart-partition">

           

                <div class="cart-products">
        
                    <div class="align-card">
        
                        
                    <div class="card-container-horizontal cart-pro">
                        <div class="img-container-h">
                        <img class="img-h" alt="" src="../../images/jpeg/user.jpg">
                        </div>
                        <div class="card-content">
                        <div class="content-h">
        
        
                        <div>
                            <p class="title-pro-cart">
                                iphone crock 12Pro 14
                            </p>
        
                            <div class="iphone-price">
                                <p class="real-price">
                                    Rs.129999
                                </p>
                                <p class="dis-price">
                                    Rs.24999
                                </p>
                                <p class="dis-per">
                                    30%
                                </p>
                            </div>
        
                            <div class="quant">
                                <p class="quant-title">
                                    Quantity :
                                </p>
        
                                <p class="symbol">-</p>
                                <p class="symbol">3</p>
                                <p class="symbol">+</p>
                            </div>
        
                            <div class="btns-cart">
                                <button class="cart-btns">Remove to cart</button>
                                <button class="cart-btns">Add to wishlist</button>
                            </div>
        
                        </div>
                        </div>
                        </div>
                    </div>
        
                    <div class="card-container-horizontal cart-pro">
                        <div class="img-container-h">
                        <img class="img-h" alt="" src="../../images/jpeg/user.jpg">
                        </div>
                        <div class="card-content">
                        <div class="content-h">
        
        
                        <div>
                            <p class="title-pro-cart">
                                iphone crock 12Pro 14
                            </p>
        
                            <div class="iphone-price">
                                <p class="real-price">
                                    Rs.129999
                                </p>
                                <p class="dis-price">
                                    Rs.24999
                                </p>
                                <p class="dis-per">
                                    30%
                                </p>
                            </div>
        
                            <div class="quant">
                                <p class="quant-title">
                                    Quantity :
                                </p>
        
                                <p class="symbol">-</p>
                                <p class="symbol">3</p>
                                <p class="symbol">+</p>
                            </div>
        
                            <div class="btns-cart">
                                <button class="cart-btns">Remove to cart</button>
                                <button class="cart-btns">Add to wishlist</button>
                            </div>
        
                        </div>
                        </div>
                        </div>
                    </div>
        
                    
                    <div class="card-container-horizontal cart-pro">
                        <div class="img-container-h">
                        <img class="img-h" alt="" src="../../images/jpeg/user.jpg">
                        </div>
                        <div class="card-content">
                        <div class="content-h">
        
        
                        <div>
                            <p class="title-pro-cart">
                                iphone crock 12Pro 14
                            </p>
        
                            <div class="iphone-price">
                                <p class="real-price">
                                    Rs.129999
                                </p>
                                <p class="dis-price">
                                    Rs.24999
                                </p>
                                <p class="dis-per">
                                    30%
                                </p>
                            </div>
        
                            <div class="quant">
                                <p class="quant-title">
                                    Quantity :
                                </p>
        
                                <p class="symbol">-</p>
                                <p class="symbol">3</p>
                                <p class="symbol">+</p>
                            </div>
        
                            <div class="btns-cart">
                                <button class="cart-btns">Remove to cart</button>
                                <button class="cart-btns">Add to wishlist</button>
                            </div>
        
                        </div>
                        </div>
                        </div>
                    </div>
        
                    </div>
        
           
        
                </div>
        
                <div class="cart-price">
        
                    <div class="price-details">
                        <h3 class="p-detail-title">
                            Price Details
                        </h3>
                        <br/>
                        <div class="charges">
                            <div class="row-prices">
                                <p class="row-item">
                                    Price(2 items)
                                </p>
                                <p class="row-item1">
                                    Rs.545454
                                </p>
                            </div>
                            <div class="row-prices">
                                <p class="row-item">
                                   Discount
                                </p>
                                <p class="row-item1">
                                    Rs.54454
                                </p>
                            </div>
                            <div class="row-prices">
                                <p class="row-item">
                                    Delivery Charges
                                </p>
                                <p class="row-item1">
                                    Rs.5454
                                </p>
                            </div>
                        </div>
                        <br/>
                        <div class="total">
                            <p class="total-price">
                                Total Amount
                            </p>
                            <p class="total-price1">
                                Rs.4343444
                            </p>
                        </div>
                    <br/>
                    <button class="btn outline-primary cart-p-btn">Checkout</button>
                    </div>
        
                </div>
        
                </div>
        

        </div>
       




    </div>
    
</body>
</html>